*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scrollbar-gutter: stable;
}
html,
body {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: normal;
  font-size: 62.5%;
  color: #ffffff;
  background-image: linear-gradient(
    to right top,
    #060606,
    #050504,
    #030303,
    #020201,
    #000000
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

:root {
  --text-size-medium: 1.6rem;
}
.display__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  color: #ffffff;
}
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 4rem 11rem 4rem 8rem;
  z-index: 10;
}
.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__button {
  margin-left: 55.3rem;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  font-size: 1.6rem;
}
.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}
.header__nav a {
  font-size: var(--text-size-medium);
  font-weight: 400;
  line-height: 150%;
}

.main-display {
  padding-top: 27rem;
}
.main-display .container {
  position: relative;
  z-index: 10;
  padding-bottom: 22.8rem;
}
.main-display__header {
  max-width: 76rem;
  margin-bottom: 5rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 140%;
}
.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}
.timer__item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
}
.timer__item:not(:last-child) {
  margin-right: 3rem;
}
.timer__count {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 140%;
}
.timer_text {
  font-weight: 400;
  line-height: 140%;
  font-size: var(--text-size-medium);

  opacity: 0.4;
}
.main-display__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  font-size: var(--text-size-medium);
  font-weight: 700;
  line-height: 140%;
}

.main-display__backgroud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}
.work__wrap {
  display: flex;
}
.work__img {
  width: 63.6rem;
  height: 49.9rem;
  margin-right: 13.9rem;
}
.work__text {
  max-width: 63.6rem;
}
.work__header {
  margin-bottom: 4.5rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}
.work__description {
  font-size: var(--text-size-medium);
  line-height: 160%;
}
.process {
  position: relative;
  padding-bottom: 20rem;
}
.process__header {
  margin-bottom: 4.9rem;
  padding-top: 1rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}
.process__title {
  display: flex;
}
.process .process__img {
  transform: rotate(45deg);
}
.process__img {
  width: 9rem;
  height: 4.5rem;
  margin-right: 2rem;
}
.process__item {
  max-width: 30.6rem;
}
.process__description {
  max-width: 41.1rem;
  margin-bottom: 8rem;
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
}
.process__columns {
  display: flex;
}
.process__columns:after {
  content: "";
  display: block;
  width: 130rem;
  height: 0.2rem;
  position: absolute;
  top: 31rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}
.process__work {
  margin-bottom: 6.5rem;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 160%;
}

.process__text {
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}

.command {
  padding-bottom: 20rem;
}
.command__title {
  margin-bottom: 11.2rem;
}
.command__header {
  margin: 0;
}
.command__wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 11rem;
  padding-right: 11rem;
}
.command__img {
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
  border-radius: 50%;
}

.command__name {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 140%;
  padding-bottom: 1.5rem;
}
.command__professional {
  font-weight: 400;
  font-size: var(--text-size-medium);
  line-height: 160%;
  margin-bottom: 3rem;
}
.command__link {
  font-size: var(--text-size-medium);
  line-height: 140%;
  border: 1px solid #ffffff;
}

.assembly {
  padding-bottom: 24.4rem;
}

.assembly__header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 3rem;
}
.assembly__description {
  font-weight: 400;
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 4.5rem;
}
.assambly__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  font-size: var(--text-size-medium);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 5rem;
}
.assembly__socials {
  display: flex;
  gap: 3rem;
}

.assembly__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}
.assembly__img {
  width: 50%;
  height: 50%;
}

.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 20;
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.modal__inner {
  position: relative;
  width: 66.3rem;
  padding: 9rem 1rem;
  text-align: center;
  background: #2c2c2c;
}
.modal__header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 1rem;
}
.modal__subheader {
  font-size: 1.6rem;
  line-height: 160%;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 2.8rem;
}
.modal__elements {
  width: 45.7rem;
  margin: 0 auto 3.2rem auto;
}
.modal__item {
  height: 4.4rem;
}
.modal__input {
  width: 100%;
  height: 100%;
  border-color: gray;
  border-radius: 5rem;
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.8;
  padding-left: 3rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}
.modal__input::placeholder {
color: #fff;
}

.modal__item:not(:last-child) {
  margin-bottom: 1.8rem;
}

.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
  height: 100%;
}


